{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <!--brace and percenatge is a tag (for loop, if statement or block tags)-->
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                    alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <!--double curly braket means variable. it will be filled by the value of the variable-->
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <!--The DTL url tag syntax allows us to pass in an argument in addition to the urlpattern name. As the anchor element is inside the for loop, we can use post.slug as the argument,
                             which gives us the slug value for the specific post in that iteration of the post_list object
                            In the href, we constructed a DTL url tag, i.e. {% url 'post_detail' post.slug  %}. 
                            It contains post.slug, and the urlpattern name of 'post_detail'. 
                            As the anchor is inside the for-loop, post.slug is this blog post's slug value.-->
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <!--This uses the name, post_detail from the urlpattern and the slug variable value is accessed 
                                with the same dot notation as seen for author, title, excerpt and so on.-->
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!--when the ListView has more objects in post_list than the paginate_by setting specifies, 
    then it sets the is_paginated value to True. 
    We then check for that value using an if statement and display the buttons.-->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number}}" class="page-link">&laquo PREV</a></li>
            {% endif %}
            <!--second if statement, which checks whether to display the Next button or not. 
            For the last page, the number of posts left to display will be less than or equal to the paginate_by setting, 
            so Django sets page_obj.has_next to False.-->
        <!--When you go to the second page, Django adds a query string to the URL that says ?page=2. 
        This query string is interpreted by the generic ListView
         The code to generate the URL comes from the Next button's anchor tag.-->
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
<!--the second if statement and the code for the Next button in index.html. Some of the helpful methods provided by the page object are:
Method 	    Purpose
has_next 	True if there is a next page, so False for the last page.
has_previous 	True if there is a previous page, so False for the first page.
next_page_number 	Returns the next page number.
previous_page_number 	Returns the previous page number.-->
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
Copyright 2023 Sabrina Belloni
{% endblock %}